<div class="userDiv">
    <mat-card class="list">
      <table>
        <div style="padding: 16px;">
          <h1>Customers</h1>
          <mat-form-field appearance="outline">
            <mat-label>Search Customer</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th></th>
        </tr>
        <tr *ngFor="let user of allUsers" [routerLink]="user.id">
          <td><mat-icon>person</mat-icon>{{ user.firstName }} {{ user.lastName }}</td>
          <td><mat-icon>mail</mat-icon>{{ user.email }}</td>
          <td><mat-icon>phone</mat-icon>{{ user.phone }}</td>
          <td class="deleteButton" (click)="deleteUser(user.id)">
            <mat-icon>delete</mat-icon>
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
  <button
    (click)="openDialog()"
    mat-fab
    color="primary"
    matTooltip="Add User"
    matTooltipPosition="above"
  >
    <mat-icon>add</mat-icon>
  </button>
